/g8_servicios_1/nbproject/private/
/g8_servicios_1/build/
/g8_servicios_2_nescafe/nbproject/private/
/g8_servicios_2_nescafe/build/
/g8_servicios_3/nbproject/private/
/g8_servicios_3/build/
/g8_NESCAFE/nbproject/private/
/g8_NESCAFE/build/
/g8_extra_2_digVerificador/nbproject/private/
/g8_extra_2v2/nbproject/private/
/g8_extra_2v2/build/
/g8_extra_22/nbproject/private/
/g8_extra_22/build/
/g9_clasesUtil_1/nbproject/private/
/g9_clasesUtil_1/build/
/g9_claseUtil_2/nbproject/private/
/g9_claseUtil_2/build/
/g9_utils_2/nbproject/private/
/g9_2/nbproject/private/
/g9_2/build/
/g9_claseUtil_3_arrays/nbproject/private/
/g9_claseUtil_3_arrayss/nbproject/private/
/g9_clasesUtil_1_String/nbproject/private/
/g9_clasesUtil_1_String/build/
/g9_claseUtil_3_arrayss/build/
/g9_claseUtil_4_date/nbproject/private/
/g9_claseUtil_date/nbproject/private/
/g9_claseUtil_date/build/
/g9_claseUtil_6_array_date/nbproject/private/
/g9_claseUtil_6_array_date/build/
/g9_extras_1/nbproject/private/
/g9_extras_1/build/
/g9_extras_2/nbproject/private/
/g9_extras_2/build/
/g9_extra_2_v2/nbproject/private/
/g9_extra_2_v2/build/
/g9_calseUtil_6_curso_array/build/
/g9_calseUtil_6_curso_array/nbproject/private/
/g9_claseUtil_extra_1/nbproject/private/
/g9_integrador/build/
/g9_integrador/nbproject/private/
/g10_teoria/nbproject/private/
/g10_teoria/build/
/g10_teoria_01/nbproject/private/
/g10_teoria_01/build/
/g10_teoria_a0/nbproject/private/
/g10_colecciones_guia_1/nbproject/private/
/g10_colecciones_guia_1/build/
/g10_colecciones_guia_2/nbproject/private/
/g10_colecciones_guia_3/nbproject/private/
/g10_colecciones_teoria/nbproject/private/
/g10_colecciones_teoria/build/
/g10_ejercicio_1_2/nbproject/private/
/g10_ejercicio_1_2/build/
/g10_ejercicio_3/nbproject/private/
/g10_ejercicio_3/build/
/g10_ejercicio_4/nbproject/private/
/g10_ejercicio_4/build/
/g10_ejercicio_5/nbproject/private/
/g10-teoria-01/nbproject/private/
/g10-teoria-01/build/
/g10-teroria-Collections/nbproject/private/
/g10-teroria-Collections/build/
/g10-teroria-Collections/dist/
/g10-practica-01-ArrayList/nbproject/private/
/g10-practica-01-ArrayList/build/
/g10-practica-03/nbproject/private/
/g10-practica-03/build/
/g10-practica-04-Cine/nbproject/private/
/g10-practica-04-Cine/build/
/g10-practica-05/nbproject/private/
/g10-practica-05/build/
/g10-practica-05/dist/
/g10-practica-06/nbproject/private/
/g10-practica-06/build/
