/g8_servicios_1/nbproject/private/
/g8_servicios_1/build/
/g8_servicios_2_nescafe/nbproject/private/
/g8_servicios_2_nescafe/build/
/g8_servicios_3/nbproject/private/
/g8_servicios_3/build/
/g8_NESCAFE/nbproject/private/
/g8_NESCAFE/build/
/g8_extra_2_digVerificador/nbproject/private/
/g8_extra_2v2/nbproject/private/
/g8_extra_2v2/build/
/g8_extra_22/nbproject/private/
/g8_extra_22/build/
/g9_clasesUtil_1/nbproject/private/
/g9_clasesUtil_1/build/
/g9_claseUtil_2/nbproject/private/
/g9_claseUtil_2/build/
/g9_utils_2/nbproject/private/
/g9_2/nbproject/private/
/g9_2/build/
/g9_claseUtil_3_arrays/nbproject/private/
/g9_claseUtil_3_arrayss/nbproject/private/
/g9_clasesUtil_1_String/nbproject/private/
/g9_clasesUtil_1_String/build/
/g9_claseUtil_3_arrayss/build/
/g9_claseUtil_4_date/nbproject/private/
/g9_claseUtil_date/nbproject/private/
/g9_claseUtil_date/build/
/g9_claseUtil_6_array_date/nbproject/private/
/g9_claseUtil_6_array_date/build/
/g9_extras_1/nbproject/private/
/g9_extras_1/build/
/g9_extras_2/nbproject/private/
/g9_extras_2/build/
/g9_extra_2_v2/nbproject/private/
/g9_extra_2_v2/build/
